Get_Appointment_and_Schedule.json
{
  "name": "Practice - Get Appointment and Schedule",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "223404f9-3a22-4ef0-aa8d-29cfc7329913",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "gTQAMJ38Zij2IBn9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e448e8a0-a2a4-4b14-994f-f957e6687a20",
              "leftValue": "={{ $json.Subject }}",
              "rightValue": "=car wash",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b1ff3476-f334-4b1c-a810-f5b0e959910d",
              "leftValue": "={{ $json.Subject }}",
              "rightValue": "book",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "3197b9a2-f640-4832-b35d-edae1d621794",
              "leftValue": "={{ $json.Subject }}",
              "rightValue": "appointment",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "a48fe675-7a6e-4658-bdb0-a290da9a5f7e",
              "leftValue": "={{ $json.Subject }}",
              "rightValue": "wash my car",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7cd5a981-5cb9-4429-938b-90ce88580096",
              "leftValue": "={{ $json.Subject }}",
              "rightValue": "Car Wash",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "5bbf0a24-3788-4d22-b821-14b801d79be1",
      "name": "If"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        60
      ],
      "id": "72bb295e-8643-4d02-9577-c910bc45cbf9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "p8UCjIalbKhZg8ql",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        520,
        60
      ],
      "id": "bf2c6f15-64c1-4277-b9de-dfa16aa81c84",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"name\": \"Zachary Levesque\",\n\t\"email\": \"zlevesque93@gmail.com\",\n    \"service\": \" car wash\",\n    \"date\": \"June 18th, 2005\",\n    \"vehicle Type\": \"Toyota Corolla\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        720,
        60
      ],
      "id": "39b073f7-adb5-421e-bf90-c81461d954a0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# You are an AI assistant helping to extract booking information from customer emails.\n\nHere is the email content you will receive:  \n{{ $json.snippet }}\n\nExtract and return the following information from the email and the \"From\" field ({{ $json.From }}):\n\n- Full name of the customer: Extract the full name in the email content.\n- Email address: Extract the email address from the \"From\" field. For example: zlevesque93@gmail.com.\n- Type of service requested: Based on the email content, identify the service the customer wants (e.g., car wash, detailing, oil change).\n- Requested date and time: If mentioned, extract and format it as YYYY-MM-DDTHH:mm:ss (e.g., 2025-06-18T08:08:00).\n- Vehicle type: Extract the type of vehicle mentioned in the email.\n\nPlease output your answers exactly in this format (no extra text):\n\n- name\n- email\n- service\n- date\n- vehicle Type\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        440,
        -160
      ],
      "id": "b25dc724-84d4-4087-ab0e-887f11c72b13",
      "name": "Analyse email"
    },
    {
      "parameters": {
        "jsCode": "const name = $input.first().json.output.name;\nconst email = $input.first().json.output.email;\nconst service = $input.first().json.output.service;\nconst date = \"2025-06-18T08:00:00\";\nconst vehicleType = $input.first().json.output['vehicle Type'];\n\nconst start = new Date($input.first().json.output.date);\nconst end = new Date(start.getTime() + 60 * 60 * 1000);\n\nconst pad = n => String(n).padStart(2, '0');\nconst formatLocal = (d) => {\n  return `${d.getFullYear()}-${pad(d.getMonth() + 1)}-${pad(d.getDate())}T${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}`;\n};\n\nreturn [\n  {\n    json: {\n      name: name,\n      email: email,\n      service: service,\n      date: formatLocal(start),\n      endDate: formatLocal(end),\n      vehicleType: vehicleType,\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "a6e831fd-f339-4197-aa1d-386b2f49b552",
      "name": "Get a Start and End Date"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "zlevesque93@gmail.com",
          "mode": "list",
          "cachedResultName": "zlevesque93@gmail.com"
        },
        "start": "={{ $json.date }}",
        "end": "={{ $json.endDate }}",
        "additionalFields": {
          "summary": "={{ $json.name }} {{ $json.service }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1180,
        0
      ],
      "id": "09a45297-770a-419d-8472-dfe7359f3455",
      "name": "Add to Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vUtiGLCj0Cvv3suH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bh3KS5nnCcdmTSkwiNTdRnKXy8_Bgu4TtgvLZP6Pn7c",
          "mode": "list",
          "cachedResultName": "n8n practice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bh3KS5nnCcdmTSkwiNTdRnKXy8_Bgu4TtgvLZP6Pn7c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Post service customer feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bh3KS5nnCcdmTSkwiNTdRnKXy8_Bgu4TtgvLZP6Pn7c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.output.name }}",
            "Email": "={{ $json.output.email }}",
            "Service Type": "={{ $json.output.service }}",
            "Service date": "={{ $json.output.date }}",
            "Vehicle Type": "={{ $json.output['vehicle Type'] }}",
            "Finished?": "No"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service date",
              "displayName": "Service date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service Type",
              "displayName": "Service Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vehicle Type",
              "displayName": "Vehicle Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Finished?",
              "displayName": "Finished?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1180,
        -160
      ],
      "id": "0023640f-f312-48d8-a04a-a0b5557c9fc5",
      "name": "Add to Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9TVzYiW8YotAvG1X",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Analyse email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyse email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Analyse email",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Analyse email",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Analyse email": {
      "main": [
        [
          {
            "node": "Add to Google Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a Start and End Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a Start and End Date": {
      "main": [
        [
          {
            "node": "Add to Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Google Sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d16e6572-3b30-4962-818b-4c1b228e08cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d06c33ed74ff00278d6b820657882855a3d7806c38efc478bed2f3ecf8edfb9"
  },
  "id": "oLYqEue5BFdiIO33",
  "tags": []
}