LinkedIn_content_creator.json
{
  "name": "LinkedIn Content Research and Drafting Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        60
      ],
      "id": "44fa0e5c-7bfd-4d55-9bbd-5302c23cd891",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -120
      ],
      "id": "9736855b-6785-44cd-b7df-fa27998c28bf",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{TAVILY_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"Search the web for {{ $json.Topic }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -120
      ],
      "id": "eab006f9-a18e-4242-80f7-27d3f85aa37e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "{{RESOURCE_ID}}",
          "mode": "list",
          "cachedResultName": "LinkedIn Content Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{{SPREADSHEET_ID}}/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid={{SHEET_GID}}",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{{SPREADSHEET_ID}}/edit#gid={{SHEET_GID}}"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        -120
      ],
      "id": "9b742482-9bc4-4e7c-9146-da0cf95b1578",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9TVzYiW8YotAvG1X",
          "name": "Google Sheets Credential"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article 1:{{ $json.results[0] }}\nArticle 2:{{ $json.results[1] }}\nArticle 3:{{ $json.results[2] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional content writer creating LinkedIn posts for an audience of forward-thinking professionals. You are given 3 articles on a related theme. Your task is to distill the key insights from these articles into a concise, engaging, and professional LinkedIn post.\n\nReturn only the structured fields required by the output parser:\n- `content`: a LinkedIn post between 120 and 180 words\n- `confidence`: integer from 1 to 10 reflecting how strong and coherent the source material is\n- `needsReview`: `true` if the material is weak, repetitive, or ambiguous; otherwise `false`\n- `sources`: short semicolon-separated list of the source titles or themes used\n\nThe post should:\n- start with a hook or powerful insight\n- highlight the main takeaways or trends from the articles\n- use a confident and optimistic tone without jargon\n- end with a thought-provoking question or call to action\n- include 2 to 5 relevant hashtags\n- include 1 to 3 relevant emojis while staying professional\n- avoid mentioning AI generation or the fact that multiple articles were used\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        660,
        -120
      ],
      "id": "446f9477-175f-4041-88a3-1590b116e5ed",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        600,
        60
      ],
      "id": "3242a98a-b8eb-44f7-af6b-052e00cb068f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "p8UCjIalbKhZg8ql",
          "name": "OpenAI Credential"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"content\": \"AI adoption is no longer a side project. The companies moving fastest are embedding it directly into operations, customer workflows, and decision systems... #AI #Automation\",\n  \"confidence\": 8,\n  \"needsReview\": false,\n  \"sources\": \"Industry adoption trend article; workflow automation article; enterprise AI strategy article\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        760,
        60
      ],
      "id": "5d5a2edf-b4d0-4db0-9d21-3602db780301",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nif (!output || typeof output !== 'object') {\n  throw new Error('Expected structured LinkedIn draft output.');\n}\n\nconst content = String(output.content || '').trim();\nconst confidence = Number(output.confidence ?? 0);\nconst sources = String(output.sources || '').trim();\nconst reviewFlag = Boolean(output.needsReview);\nconst needsReview = reviewFlag || !content || confidence < 7;\nconst formattedContent = `${content}\\n\\nSources: ${sources || 'Add source links before publishing.'}`;\n\nreturn [{\n  json: {\n    content: formattedContent,\n    status: needsReview ? 'Needs review' : 'Draft ready for review',\n    confidence,\n    sources\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        -120
      ],
      "id": "700cf791-1208-4b05-85bd-d47658a90302",
      "name": "Prepare Draft"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "{{RESOURCE_ID}}",
          "mode": "list",
          "cachedResultName": "LinkedIn Content Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{{SPREADSHEET_ID}}/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid={{SHEET_GID}}",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{{SPREADSHEET_ID}}/edit#gid={{SHEET_GID}}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Google Sheets').item.json.Topic }}",
            "Status": "={{ $json.status }}",
            "Content": "={{ $json.content }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1020,
        -120
      ],
      "id": "cb20c8ef-004d-4cb1-88d2-5740cc8728a1",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9TVzYiW8YotAvG1X",
          "name": "Google Sheets Credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Draft": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "691d501c-f2d6-4b6d-b786-8daee0b52f88",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d06c33ed74ff00278d6b820657882855a3d7806c38efc478bed2f3ecf8edfb9"
  },
  "id": "R9wLFWGQyrk2Trc7",
  "tags": []
}
