New_Lead_Research.json
{
  "name": "New Lead Research Briefing Agent",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{TAVILY_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"Search the web for {{ $json.Name }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 8,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        -20
      ],
      "id": "0721b4ee-c01a-4cf4-b247-b5608df25044",
      "name": "Tavily"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "{{RESOURCE_ID}}",
          "mode": "list",
          "cachedResultName": "Demo Operations Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{{SPREADSHEET_ID}}/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "{{SHEET_GID}}",
          "mode": "list",
          "cachedResultName": "Lead Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{{SPREADSHEET_ID}}/edit#gid={{SHEET_GID}}"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        220,
        -20
      ],
      "id": "a681ba9c-17a9-4355-971b-240ff774426d",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "sZ4uAHaQF3uI5Mp2",
          "name": "Google Sheets Trigger Credential"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lead summary: {{ $json.answer }}\n\nSupporting articles:\n{{ ($json.results || []).slice(0, 3).map((result, index) => `Article ${index + 1}: ${(result.content || result.title || 'No content returned')}`).join('\\n\\n') }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert email writer tasked with briefing our lead team on a target company using the provided search summary and supporting articles. Your goal is to distill the essential information into a single, concise paragraph that informs and sparks interest.\n\nAnalyze the material and identify the company’s core business, recent developments or milestones, and any notable challenges or opportunities. If the supporting material is thin, make that clear rather than inventing details.\n\nReturn only the structured fields required by the output parser:\n- `subject`: a one-line, attention-grabbing summary of the company\n- `body`: one paragraph introducing the company and summarizing only the most critical insights from the available material\n- `confidence`: integer from 1 to 10 reflecting source strength and confidence in the summary\n- `needsReview`: `true` if the supporting material is thin, ambiguous, or weak enough that a human should review before sending; otherwise `false`\n- `sources`: short semicolon-separated list of the source titles or source descriptions you relied on\n\nUse an informative, engaging tone suited to a sales or lead-generation audience. Avoid fluff or unnecessary detail. Be precise, clear, and focused on what the lead team needs to know."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        980,
        -20
      ],
      "id": "2b59ab11-76b5-44f0-b4c8-c640805f3ebd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        160
      ],
      "id": "38ef7de4-1f25-47a7-ba8a-ececfea5bd79",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "p8UCjIalbKhZg8ql",
          "name": "OpenAI Credential"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subject\": \"Why Acme is worth watching\",\n  \"body\": \"Acme is a fast-growing company in the industrial robotics market with recent partnerships and expansion activity that make it relevant for outbound outreach.\",\n  \"confidence\": 8,\n  \"needsReview\": false,\n  \"sources\": \"Company site; recent funding article; product launch coverage\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1160,
        160
      ],
      "id": "90199153-280d-4f1c-9fde-0a2f8b899001",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nif (!output || typeof output !== 'object') {\n  throw new Error('Expected structured output from briefing agent.');\n}\n\nconst Subject = String(output.subject || '').trim();\nconst Body = String(output.body || '').trim();\nconst sources = String(output.sources || '').trim();\nconst confidence = Number(output.confidence ?? 0);\nconst reviewFlag = Boolean(output.needsReview);\nconst needsReview = reviewFlag || !Subject || !Body || confidence < 7 || Body.length < 120;\n\nreturn [\n  {\n    json: {\n      Subject,\n      Body,\n      sources,\n      confidence,\n      needsReview,\n      reviewStatus: needsReview ? 'needs_review' : 'ready'\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        -20
      ],
      "id": "3f2675d1-1e4c-4885-a526-4d6128f82200",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "{{RESOURCE_ID}}",
          "mode": "list",
          "cachedResultName": "Demo Operations Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{{SPREADSHEET_ID}}/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "{{SHEET_GID}}",
          "mode": "list",
          "cachedResultName": "Lead Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{{SPREADSHEET_ID}}/edit#gid={{SHEET_GID}}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Google Sheets Trigger').item.json.Name }}",
            "Research done?": "Yes"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Research done?",
              "displayName": "Research done?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1640,
        -20
      ],
      "id": "4b8850f8-3e2c-4b5b-8896-cc69e8cf1e1b",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9TVzYiW8YotAvG1X",
          "name": "Google Sheets Credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6bf71c4c-2560-47b4-bec5-e343d06f3970",
              "leftValue": "={{ $json['Research done?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        -20
      ],
      "id": "68fe6694-5c76-4d8a-80d7-aa9e5e5fb1e9",
      "name": "Research Needed?"
    },
    {
      "parameters": {
        "sendTo": "{{YOUR_EMAIL}}",
        "subject": "={{ $json.Subject }}",
        "emailType": "text",
        "message": "=Hi Team, here is some information about our possible client, {{ $('Google Sheets Trigger').item.json.Name }}\n\n{{ $json.Body }}\n\nConfidence: {{ $json.confidence }}/10\nSources: {{ $json.sources }}\n\nBest,\nMike",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1480,
        160
      ],
      "id": "c57ca51a-dfd3-4d15-90f6-115ea3184419",
      "name": "Gmail",
      "webhookId": "71aac9c9-4d15-434f-9b76-853971be6e32",
      "credentials": {
        "gmailOAuth2": {
          "id": "gTQAMJ38Zij2IBn9",
          "name": "Gmail Credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f7e31d1-c574-4d89-9ea7-b0f8bc990201",
              "leftValue": "={{ $json.reviewStatus }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1480,
        -20
      ],
      "id": "7b8f6c40-84b1-4caf-b0c1-fd8787090202",
      "name": "Ready To Send?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "{{RESOURCE_ID}}",
          "mode": "list",
          "cachedResultName": "Demo Operations Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{{SPREADSHEET_ID}}/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "{{SHEET_GID}}",
          "mode": "list",
          "cachedResultName": "Lead Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{{SPREADSHEET_ID}}/edit#gid={{SHEET_GID}}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Google Sheets Trigger').item.json.Name }}",
            "Research done?": "Needs review"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Research done?",
              "displayName": "Research done?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1720,
        -160
      ],
      "id": "4f589eb1-4e89-450b-9f22-b0054c300203",
      "name": "Mark Needs Review",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9TVzYiW8YotAvG1X",
          "name": "Google Sheets Credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Ready To Send?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready To Send?": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Needs Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Needed?": {
      "main": [
        [
          {
            "node": "Tavily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4c8c0e6e-1df1-4be5-b9a8-8063d8567457",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d06c33ed74ff00278d6b820657882855a3d7806c38efc478bed2f3ecf8edfb9"
  },
  "id": "ZPt5cFSPicfflGhc",
  "tags": []
}
