Research_assistant.json
{
  "name": "Lead Research Assistant",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "c974e9d9-950c-4ce2-b55f-c9299d7ac27f",
      "name": "When chat message received",
      "webhookId": "90f4439e-299a-4355-8751-6dc646c2d141"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        140
      ],
      "id": "47d21dac-361f-42c5-a127-bd68595820f6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "p8UCjIalbKhZg8ql",
          "name": "OpenAI Credential"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        300,
        160
      ],
      "id": "943a6d83-02be-4769-8b28-b0d770a778b1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"industry\": \"SaaS\",\n  \"location\": \"California\",\n  \"target_role\": \"CEO\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        420,
        160
      ],
      "id": "5136b2ef-ef02-480d-9df8-537ec80ad201",
      "name": "Structured Output Parser - Search Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "{{RESOURCE_ID}}",
          "mode": "list",
          "cachedResultName": "Demo Operations Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{{SPREADSHEET_ID}}/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "{{SHEET_GID}}",
          "mode": "list",
          "cachedResultName": "Lead Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{{SPREADSHEET_ID}}/edit#gid={{SHEET_GID}}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company name": "={{ $('Loop Over Items').item.json.company }}",
            "Contact name": "={{ $json.name }}",
            "Contact Role": "={{ $('Extract Information').item.json.target_role }}",
            "Contact email": "={{ $json.email }}",
            "Contact Phone number": "={{ $json.phoneNumber }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company name",
              "displayName": "Company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact name",
              "displayName": "Contact name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Role",
              "displayName": "Contact Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact email",
              "displayName": "Contact email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Phone number",
              "displayName": "Contact Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2580,
        120
      ],
      "id": "82dd95e8-00c1-4232-9388-670738495603",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9TVzYiW8YotAvG1X",
          "name": "Google Sheets Credential"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1520,
        0
      ],
      "id": "5b4e4bcd-7d2f-4f66-b89b-84d43d20bc54",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        940,
        200
      ],
      "id": "4efa45d7-6d9d-47e3-9a28-d8aa928011bf",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "p8UCjIalbKhZg8ql",
          "name": "OpenAI Credential"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "System:  \nYou are an intelligent data extraction AI trained to support automation workflows. You are a data extraction professional.\n\nUser:  \nYour task is to extract structured information from the following message for use in a research agent.  \nYour task is to output the extracted data in the following JSON format:  \n{\"industry\": \"value\", \"location\": \"value\", \"target_role\": \"value\"}\n\nExample message:  \n\"Find me CEOs of SaaS companies in California\"\n\nAssistant:  \n{\"industry\": \"SaaS\", \"location\": \"California\", \"target_role\": \"CEO\"}\n\n"
        },
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "cad4f6c9-ae63-4aa8-ab58-b81f10e5e176",
      "name": "Input Information Agent"
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.output;\nconst parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n\nconst industry = String(parsed.industry || '').trim();\nconst location = String(parsed.location || '').trim();\nconst targetRole = String(parsed.target_role || '').trim();\n\nif (!industry || !location || !targetRole) {\n  throw new Error(`Missing search requirements: ${JSON.stringify(parsed)}`);\n}\n\nreturn [\n  {\n    json: {\n      industry,\n      location,\n      target_role: targetRole\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        0
      ],
      "id": "b42e7a35-6e32-4288-abb2-84d091c5e5ad",
      "name": "Extract Information"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{TAVILY_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"List the name of 20 {{ $json.industry }} companies in {{ $json.location }} with websites\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ],
      "id": "aed72f5e-4b9a-49dc-b7f4-951091c5cd59",
      "name": "Research companies"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.results[0].raw_content }}{{ $json.answer }}",
        "options": {
          "systemMessage": "=Extract up to 20 company names from the provided text.\n\nReturn only the company names.\n- One company per line\n- No numbering\n- No bullets\n- No commentary\n- No duplicates\n\nHere are the two texts to process:\n{{ $json.answer }}\n{{ $json.results[0].raw_content }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1020,
        0
      ],
      "id": "1a72dc32-6a40-408a-a0cb-4334703afe1a",
      "name": "Narrow Research"
    },
    {
      "parameters": {
        "jsCode": "const text = String(items[0].json.output || '');\nconst seen = new Set();\nconst companies = text\n  .split('\\n')\n  .map(line => line.replace(/^[-*\\d.\\s]+/, '').trim())\n  .filter(Boolean)\n  .filter(company => {\n    const key = company.toLowerCase();\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  })\n  .slice(0, 20);\n\nif (!companies.length) {\n  throw new Error('No companies were extracted from the research results.');\n}\n\nreturn companies.map(company => ({\n  json: {\n    company\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        0
      ],
      "id": "7d3aecf1-8f95-4dcb-9dec-943cb1f2e59c",
      "name": "Extract Companies"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{TAVILY_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.company }} {{ $('Extract Information').item.json.target_role }} Name Email and Phone number\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        100
      ],
      "id": "e7e042c0-68ac-48a6-a92e-02d8dd8a9748",
      "name": "Search Contact Information"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1880,
        340
      ],
      "id": "d3acd4b5-0c91-4703-908b-ab692722d80a",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "p8UCjIalbKhZg8ql",
          "name": "OpenAI Credential"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"name\": \"Jane Doe\",\n  \"email\": \"jane@example.com\",\n  \"phoneNumber\": \"+1 555 555 5555\",\n  \"confidence\": 8\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2100,
        340
      ],
      "id": "c0bbdc20-4012-4a0e-912b-c393ac330202",
      "name": "Structured Output Parser - Contact"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\nconst parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n\nconst name = String(parsed.name || '').trim();\nconst email = String(parsed.email || '').trim();\nconst phoneNumber = String(parsed.phoneNumber || '').trim();\nconst confidence = Number(parsed.confidence ?? 0);\nconst emailIsValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\nconst nameIsValid = !!name && name.toLowerCase() !== 'not found';\nconst valid = nameIsValid && emailIsValid && confidence >= 7;\n\nreturn [{\n  json: {\n    name,\n    email,\n    phoneNumber,\n    confidence,\n    validationStatus: valid ? 'valid' : 'invalid'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        120
      ],
      "id": "2f6af538-43b1-4131-9984-1cc9bdf93f5b",
      "name": "Ready for Sheet"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.answer }}",
        "options": {
          "systemMessage": "=You are a smart AI parsing assistant. Your task is to extract a person’s contact information from the raw text provided in `{{ $json.answer }}`.\n\nReturn only the structured fields required by the output parser:\n- `name`\n- `email`\n- `phoneNumber`\n- `confidence` as an integer from 1 to 10\n\nRules:\n- If a field is missing, return an empty string for that field.\n- Do not invent private contact data.\n- Use a lower confidence score when the evidence is weak or ambiguous."
        },
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1980,
        100
      ],
      "id": "639e2295-e343-48fb-8997-03430f927579",
      "name": "Extract Contact Information"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "14f4bc77-d36c-4b53-b3ad-208146130203",
              "leftValue": "={{ $json.validationStatus }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2480,
        120
      ],
      "id": "4c2af5b6-d481-4fe5-929d-1ccbaf130204",
      "name": "Valid Contact?"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Input Information Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Input Information Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Input Information Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser - Search Request": {
      "ai_outputParser": [
        [
          {
            "node": "Input Information Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Search Contact Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Narrow Research",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Input Information Agent": {
      "main": [
        [
          {
            "node": "Extract Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Information": {
      "main": [
        [
          {
            "node": "Research companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research companies": {
      "main": [
        [
          {
            "node": "Narrow Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Narrow Research": {
      "main": [
        [
          {
            "node": "Extract Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Companies": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Contact Information": {
      "main": [
        [
          {
            "node": "Extract Contact Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Contact Information",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser - Contact": {
      "ai_outputParser": [
        [
          {
            "node": "Extract Contact Information",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Ready for Sheet": {
      "main": [
        [
          {
            "node": "Valid Contact?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Contact?": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Contact Information": {
      "main": [
        [
          {
            "node": "Ready for Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0cf3ab9b-66cb-42cc-be02-c501e081dc85",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d06c33ed74ff00278d6b820657882855a3d7806c38efc478bed2f3ecf8edfb9"
  },
  "id": "gtfwQUizZnC9mKCo",
  "tags": []
}
